import(methods)
import(topGO)
import(AnnotationDbi)
import(Rsamtools)
import(S4Vectors)

importFrom(GenomicRanges, GRanges, coverage)
importFrom(GenomeInfoDb, seqnames)
importFrom(BiocGenerics, unlist, intersect, strand, "strand<-", width)
importFrom(Biostrings, writeXStringSet, DNAString, DNAStringSet)
importFrom(grDevices, colorRampPalette)
importFrom(gplots, heatmap.2)
importFrom(parallel, makeCluster)
importFrom(GO.db, GOCCPARENTS, GOBPPARENTS, GOMFPARENTS, GOTERM)

importMethodsFrom(methylPipe, binC, binmC, binrC, binscore)
importMethodsFrom(IRanges, nearest, distance, promoters, countOverlaps,
                  findOverlaps, Views, overlapsAny)
importMethodsFrom(GenomicFeatures, exonsBy, transcriptsBy, transcripts)
importMethodsFrom(XVector, subseq)
importMethodsFrom(Biostrings, countPattern, getSeq, vcountPattern,
                  complement, reverse, subseq, Views, length)
importMethodsFrom(BiocGenerics, clusterApplyLB, clusterEvalQ, union)

importClassesFrom(IRanges, IRanges)
importClassesFrom(GenomicRanges, GRanges)
importClassesFrom(methylPipe, GEcollection, GElist)

exportPattern("^[[:alpha:]]+")
exportMethods(
    "GRangesInPromoters",
    "GRannotate",
    "GRbaseCoverage",
    "GRcoverage",
    "GRcoverageInbins",
    "GRcoverageSummit",
    "GRmidpoint",
    "countOverlapsInBins",
    "distanceFromTSS",
    "enhancers",
    "featuresLength",
    "getPromoterClass",
    "GRanges2ucsc",
    "GRangesInPromoters",
    "GRannotate",
	"GRannotateSimple",
	"GRenrichment",
	"GRsetwidth",
	"makeGtfFromDb",
    "matchEnhancers"
)
